<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.coupondunia.entity.EmployeeEntity" />
        <mapping class="com.coupondunia.entity.User" />
        <mapping class="com.coupondunia.entity.Player" />
        <mapping class="com.coupondunia.entity.CricketPlayer" />
        <mapping class="com.coupondunia.entity.BattingInfo" />
        <mapping class="com.coupondunia.entity.BowlingInfo" />
        <mapping class="com.coupondunia.entity.FieldingInfo" />
        <mapping class="com.coupondunia.entity.EmployeeEntity" />
        <mapping class="com.coupondunia.entity.Team" />
    </session-factory>
</hibernate-configuration>